.cart-item-container {
  display: flex;
  flex-direction: column;
}
.cart-page-top {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  button {
    width: 120px;
    height: 40px;
    background-color: #00a046;
    border: none;
    border-radius: 5px;
  }
  button:hover {
    background-color: rgb(48, 239, 27);
  }
  button:active {
    transform: scale(0.95);
  }
}
