.favorite-item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 5px rgb(90, 90, 90);
}
.favorite-item {
  height: 60px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.favorite-item-img {
  img {
    width: 50px;
    height: 50px;
  }
}
.favorite-item-info {
  margin-left: 10px;
  width: 300px;
}
.favorite-item-buttons {
  display: flex;
}
